<!DOCTYPE html>
<html lang="en">

<head>
  <title>PostOffice</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <%= csrf_meta_tag() %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
        <a href="" class="simple-text logo-mini">
          PostOffice
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item <%= if @page_name == "Dashboard" do %>active <% end %>">
            <a class="nav-link" href="<%= Routes.dashboard_path(@conn, :index) %>">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item <%= if @page_name == "Topics" do %>active <% end %>"">
            <a class="nav-link" href="<%= Routes.topic_path(@conn, :index) %>">
              <i class="material-icons">input</i>
              <p>Topics</p>
            </a>
          </li>
          <li class="nav-item <%= if @page_name == "Publishers" do %>active <% end %>"">
            <a class="nav-link" href="<%= Routes.publisher_path(@conn, :index) %>">
              <i class="material-icons">call_split</i>
              <p>Publishers</p>
            </a>
          </li>
          <li class="nav-item <%= if @page_name == "Messages" do %>active <% end %>">
            <a class="nav-link" href="<%= Routes.message_path(@conn, :index) %>">
              <i class="material-icons">mail_outline</i>
              <p>Messages</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;"><h2><%= @page_name %></h2></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <%= form_for @conn, Routes.message_path(@conn, :index), [method: :get, class: "navbar-form"],fn _f -> %>
              <span class="bmd-form-group">
                <div class="input-group no-border">
                  <input type="text" id="id" name="id" value="" class="form-control" placeholder="Search message by id">
                  <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </span>
            <% end %>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
              <%= @inner_content %>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright float-right">
            Postoffice uses the <i class="material-icons">favorite</i> Material Dashboard&copy; by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
