<h2>Add new topic</h2>
<div class="row">
<div class="col-md-3">
<%= form_for @changeset, Routes.topic_path(@conn, :create), fn f -> %>
    <div class="form-group">
      <label>Topic</label>
      <%= text_input f, :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
</div>
